{:paths ["src" "resources" "test"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clj-commons/clj-http-lite {:mvn/version "1.0.13"}}
 :tasks {test {:doc "Run tests"
               :task (apply clojure "-M:test" *command-line-args*)}}}
